/* login vlak (inclusief logo )*/
.login-page {
    width: 360px;
    padding: 19% 0 0;
    margin: auto;
} 
/* login form */
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 55px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
/* typvlak ticketnumber en lastname */
.form input {
    font-family: "Helvetica";
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
/* submit knop */
.form button {
    font-family: "Helvetica";
    text-transform: uppercase;
    outline: 0;
    background: #FF0000;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
/* submit knop kleur verandering */
.form button:hover,.form button:active,.form button:focus {
    background: #CC0000;
}
/* corendon logo redirect (text block) */
h1 a {
    display : block;
    height : 113px;
    text-indent : -9999px; 
}

/* error message if failed to login */
.error {
    text-align : center;
    font-family: "Helvetica";

   
}
